# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Production builds
dist/
dist-ssr/

# Environment and sensitive keys
.env
.env.local
.env.*.local
*.pem
*.key
*.cert

# Editor directories and temporary files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Scratch & sensitive data
*.audio
*.wav
*.mp3
real_victim_data/
temp/
